@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


body {
    background-color: #f8f9fa;
}

.text-primary {
    --bs-text-opacity: 1;
    color: rgb(0 0 0) !important;
}

.add-task-btn {
    position: fixed;
    bottom: 20px;  
    right: 20px;  
    z-index: 1000; 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2rem;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
}


.clock {
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
}

.card-title{
    font-size: 1.2rem;
}


.task-card {
    min-height: 250px;
    max-height: 250px;
    width: 100%; 
    box-sizing: border-box;
    transition: box-shadow 0.2s;
    will-change: transform;
    font-display: swap
}

.task-card:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
}

